<div class="footer">
    <h2>New News</h2>
    <hr>
    <div class="footer-links">
        <span>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </span>
        <span>
            <a href="#">General</a>
            <a href="#">Business</a>
            <a href="#">Entertainment</a>
            <a href="#">Health</a>
            <a href="#">Science</a>
            <a href="#">Sports</a>
            <a href="#">Techonology</a>
        </span>
        <span>
            <a href="#">English</a>
            <a href="#">Arabic</a>
            <a href="#">German</a>
            <a href="#">Spanish</a>
            <a href="#">French</a>
            <a href="#">Hebrew</a>
            <a href="#">Italian</a>
        </span>
        <span>
            <a href="#">Dutch</a>
            <a href="#">Norweigan</a>
            <a href="#">Portugese</a>
            <a href="#">Russian</a>
            <a href="#">Swedish</a>
            <a href="#">Chinese</a>
        </span>
    </div>
    <div class="footer-copyright">
        <h4>Copyright &copy; 2022, New News</h4>
    </div>
</div>