.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    color: white;
}
.nav-main{
    display: flex;
    align-items: center;
}
.navbar a{
    color: white;
    font-size: 18px;
    margin-left: 50px;
}
.categories, .lang, .categories option, .lang option{
    margin-left: 50px;
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: 2px solid #2f2f2f;
    border-radius: 5px;
}
