<div class="navbar">
    <div class="nav-main">
        <span class="logo">
            <h1>NEW</h1>
            <h1>NEWS</h1>
        </span>

        <a routerLink="">HOME</a>

        <select name="" id="">
            <option value="Latest">Latest</option>
            <option value="Latest">Lifestyle</option>
            <option value="Latest">Sport</option>
            <option value="Latest">World</option>
            <option value="Latest">AAAAAA</option>
            <option value="Latest">ASDASFASF</option>
        </select>
    </div>
    <span class="lang">
        <select name="" id="">
            <option value="English">EN</option>
            <option value="Arabic">AR</option>
            <option value="Spanish">SP</option>
            <option value="English">CH</option>
            <option value="English">FR</option>
            <option value="English">RUS</option>
        </select>
    </span>
</div>