.pagination-container{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.pagination-controls{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load-more-btn{
    border: 1px solid white;
    padding: 10px;
    color: white;
    cursor: pointer;
}