.article-card{
    background-color: rgb(230, 230, 230);
    height: 320px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}
.article-card-img{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.article-card-img img {
        width: 100%;
    }
.article-card-title{
    height: fit-content;
    display: flex;
    align-items: flex-end;
}
.article-card-title p{
    font-size: 18px;
    padding: 10px 5px;
    font-weight: bold;
    color: black;
}
.article-source{
    color: black;
}