<div class="contact-header">
    <p>demirumejr2@gmail.com</p>
    <span class="contact-header-icons">
        <a href="https://instagram.com/demac44" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://instagram.com/demac44" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://instagram.com/demac44" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://instagram.com/demac44" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
    </span>
</div>